/* You can add global styles to this file, and also import other style files */

/* Sign in */
.signin {
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 80px;
  /* identical to box height */
  text-align: center;

  color: #ffffff;
}

/* Sign in and start managing your candidates! */
.comment-signin {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;

  color: #ffffff;
}

/* Username */
.input-login {
  position: absolute;

  width: 300px;
  height: 45px;
  background: #224957;
  border-radius: 10px;

  /* Login */

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  text-align: center;

  color: #ffffff;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.center-h {
  justify-content: center;
}
.center-v {
  align-items: center;
}

/* Rectangle */
.btn-login {
  /* login */

  position: absolute;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  text-align: center;
  text-transform: capitalize;

  color: #ffffff;
  width: 300px;
  height: 45px;
  position: absolute;
  background: #2c9c64;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.check-remember {
  /* Rectangle 1 */

  position: absolute;
  width: 18px;
  height: 17px;

  background: #224957;
  border-radius: 5px;
}
